<h1>Hello <%= @user.name %> </h1>

<ul>
  <% @user.albums.each do |album| %>
    <li><a href="/album/<%= album.id %>"><%= album.title %></a></li>
    <% if album.photos.first %><img src="/uploads/<%= album.photos.first.image.thumb.identifier! %>"><% end %>
  <% end %>
</ul>

<ul>
  <% @user.albums.each do |album| %>
    <li><a href="/album/<%= album.id %>"><%= album.title %></a></li>
    <% if album.photos.first %><img src="/uploads/<%= album.photos.last.image.thumb.identifier! %>"><% end %>
  <% end %>
</ul>
